<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<header>
  <div class="title">
    Helix Pi Benchmarks
  </div>

  <%= BuildStatusPresenter.new(CommitBenchmark.last).to_html %>
</header>

<% GetBenchmarks.new.call.each do |bmark| %>
  <%= line_chart "/commit_benchmarks?benchmark=#{bmark}", min: 0, library: {title: bmark, curveType: 'none'} %>
<% end %>
